<ion-view>
	<ion-nav-bar class="brandtreat-bar">
		<i class="icon ion-chevron-left back-history" ng-click="goBack()"></i>
		<img src="img/logo-light.png" alt="Brandtreat" class="logo-top-bar left-logo-padding pointer" ui-sref="challengeMenu" />
		<div class="avatar-top-bar-container pull-right img-rounded" ui-sref="userProfile">
			<img ng-src="{{userData.avatar}}" alt="Avatar Icon" class="avatar-top-bar">
		</div>
	</ion-nav-bar>
	<ion-content>
		<div class="row challenge-details">
			<div class="col col-33 col-center">
				<figure class="challenge-button brand-logo">
					<img ng-src="{{challenge.logoSrc}}" alt="Vive Deporte" class="img-responsive" />
				</figure>
				<div class="text-center">
					<i class="icon ion-clock dark-icon"></i>
					<span class="countdown">{{challenge.dateToEnd}}</span>
				</div>
			</div>
			<div class="col col-67">
				<div>
					<div class="row challenge-header">
						<h5 class="col col-75 challenge-title">{{challenge.title}}</h5>
						<span class="col col-25 col-center challenge-dificulty">
							<span class="block center dificulty-level-icon dificulty-{{challenge.dificulty}}-icon"></span>
						</span>
					</div>
					<p class="challenge-description">{{challenge.description}}</p>
				</div>
				<div class="challenge-information">
					<p>
						<i class="icon {{challenge.constraintIcon}} dark-icon"></i> {{challenge.constraint}}
					</p>
					<p>
						<i class="icon {{challenge.categoryIcon}} dark-icon"></i> {{challenge.category}}
					</p>
				</div>
			</div>
		</div>
		<div class="row challenge-overview">
			<div class="col col-33 challenge-overview-item">
				<span class="block center">
					<i class="icon ion-ios-people-outline icon-lg"></i>
				</span>
				<span class="challenge-participants block center">
					{{challenge.participants}}
				</span>
			</div>
			<div class="col col-33 challenge-overview-item">
				<span class="block center">
					<i class="icon {{challenge.rewardIcon}} icon-lg"></i>
				</span>
				<span class="challenge-participants block center">
					{{challenge.reward}}
				</span>
			</div>
			<div class="col col-33 challenge-overview-item">
				<span class="block center">
					<i class="icon ion-ios-location-outline icon-lg"></i>
				</span>
				<span class="challenge-participants block center">
					{{challenge.location}}
				</span>
			</div>
		</div>
		<div class="row list-container">
			<ul class="list instructions">
				<li>Instructions</li>
				<li ng-repeat="instruction in challenge.instructions">
					<span class="inline bullet blue-bullet"></span>
					{{instruction.instruction}}
				</li>
			</ul>
		</div>
		<div class="row list-container">
			<ul class="list terms-and-conditions">
				<li>Terms & Conditions</li>
				<li ng-repeat="term in challenge.terms">
					<span class="inline bullet blue-bullet"></span>
					{{term.condition}}
				</li>
			</ul>
		</div>
	</ion-content>
	<ion-footer-bar class="bar bar-footer brandtreat-bar">
		<div class="buttons button-bar">
			<span class="button button-brandtreat ">Join</span>
		</div>
	</ion-footer-bar>
</ion-view>