<ion-view>
	<ion-nav-bar class="brandtreat-bar">
		<i class="icon ion-chevron-left back-history" ng-click="goBack()"></i>
	</ion-nav-bar>
	<ion-content>
		<div class="row logo-container">
	  <div class="col col-50 col-offset-25">
	    <img src="img/logo.png" class="img-responsive" alt="Brandtreat" />
	  </div>
	</div>
	<div class="row form-container">
	  <div class="col col-80 col-offset-10 form">
	    <form ng-submit="doPasswordRecovery()">
	      <div class="list">
	        <label class="item item-input">
	          <span class="input-label"><i class="icon ion-ios-email-outline" id="email-input-icon"></i></span>
	          <input type="password" class="form-input" ng-focus="inputFocus(true,'email-input-icon')" ng-blur="inputFocus(false, 'email-input-icon')" ng-model="signUpData.email" placeholder="Email" />
	        </label>
	        <label class="item">
	          <button class="button button-block button-brandtreat" type="submit" ui-sref="challengeMenu">Reset Password</button>
	        </label>
	      </div>
	    </form>
        <div class="nav-links">
          <span class="nav-link"><a ui-sref="login">Login</a></span> 
          <i class="icon ion-record icon-sm dark-icon"></i>
          <span class="nav-link"><a ui-sref="signUp">Sign Up</a></span> 
        </div>
	  </div>
	</div>
	</ion-content>
</ion-view>
